mongouri="mongodb://aemuser:aemuser@192.168.23.100:27017,192.168.23.101:27017,192.168.23.102:27017/aem-author?authsource\=aem-author&replicaSet\=aem;readPreference\=nearest;w\=2"
db="aem-author"
blobCacheSize=I"16"
cache=I"256"
cacheSegmentCount=I"16"
cacheStackMoveDistance=I"16"
nodeCachePercentage="50"
prevDocCachePercentage="10"
childrenCachePercentage="20"
diffCachePercentage="15"
docChildrenCachePercentage="2"
journalGCInterval=L"300000"
journalGCMaxAge=L"21600000"
journalGcBatchSize=I"100"
maxReplicationLagInSecs=L"21600"
persistentCache="./crx-quickstart/repository/cache,size\=128,binary\=0"
blobGcMaxAgeInSecs=L"86400"
